/* 
font-family: 'Inter', sans-serif;
font-family: 'Lora', serif;
font-family: 'Jost', sans-serif;
font-family: 'Lora', serif;
*/
/*================================= comoon css =================================*/
html {
  scroll-behaviour: smooth;
}

.bg-pink {
  background-color: #fef5f5;
}
.font-16{
  font-size:16px;
}
.font-lora,
.cta-text h6 {
  font-family: 'Lora', serif !important;
}

.bg-green {
  background-color: #f4fbf2;
}

.bg-light-blue {
  background-color: #f5f7fe;
}

.text-marun, .details span {
  color: #d54e4e
}
.details span{
  font-weight: 500;
  font-size: 14px;
}
body {
 font-family: 'Jost', sans-serif;
  touch-action: manipulation;
  font-size: 24px;
  font-weight: normal;
  line-height: 32px;
  background: #ffffff;
  overflow-x: hidden;
  color: #151515;
}

.font_primary {
 font-family: 'Jost', sans-serif;
}

.font_secondary,
.footer_list a {
  font-family: 'Lora', serif;
}

.text_primary,
.logo_heading,
.navbar-nav-link:hover,
.footer_list a {
  color: #151515 !important;
}

.text_secondary,
.footer_list a:hover {
  color: #d763ff !important;
}

.bg_primary {
  background-color: #151515;
}

.bg_secondary {
  background-color: #d763ff;
}

.container {
  max-width: 1180px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0px;
}

/* custom scroll */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px #fff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #7f7f7f;
  box-shadow: inset 0 0 6px #eaa451;
}

/* custom scroll */

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 0px;
  color: #151515;
}

/* heading css */
h1 {
  color: #151515;
  font-size: 50px;
  font-family: 'Lora', serif;
  font-weight: 700;
  text-transform: capitalize;
  transition: color .3s, -webkit-text-stroke .3s;
  line-height: 100%;
  margin: 0 !important;
}

h2.banner-bg-text {
  z-index: 99;
  color: #151515 !important;
  background-color: #f6f6f6;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  position: relative;
  width: fit-content;
}

.banner-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  z-index: 99;
}
.cart-flex,.author-ach, .author-social, .author-social-group{
  gap:20px
}
.event-listing .row{
  gap:50px 0px
}
.author-social i:before{
  font-size: 16px;
}
.author-detail-footer p{
  letter-spacing:1px;
  color:#000;
}
/* .section_breadcrumbs h1:hover{
  color: transparent;
  transition: color .3s,-webkit-text-stroke .3s;
  background-image: url(../images/video_popuup.jpg);
  background-position: 50%;
  -webkit-background-clip: text;
  background-size: 100% 100%;
} */
h1:hover,
h1 span {
  color: #151515;
  transition: color .3s, -webkit-text-stroke .3s;
}

h2 {
  font-size: 40px;
  font-weight: 600;
  color: #151515;
  font-family: 'Lora', serif;
}

h3 {
  font-family: 'Lora', serif;
  font-size: 25px;
  font-weight: 700;
  color: #151515;
  line-height: 30px;
}

h5 {
  margin-bottom: 20px;
  font-size: 22px;
  color: #151515;
  text-transform: capitalize;
  font-weight: 700;
  font-family: 'Lora', serif;
}

h6 {
  font-family: 'Lora', serif;
  color: #151515;
  font-size: 26px;
  font-weight: 700;
}

.font-small {
  font-size: 14px;
}

/* heading css */
p:last-child {
  margin-bottom: 0px;
}

button::-moz-focus-inner {
  border: 0;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

button:focus {
  outline: none;
}

a,
a:hover,
button,
button:hover,
.indus_block,
.indus_block:hover,
.form-group input,
.form-group input:focus {
  transition: all 0.5s ease 0s !important;
}

/*================================= 4 Global Styles (#glob) =================================*/
/* .page-content {
  padding-top: 108px;
} */
.section-spacer {
  padding: 60px 0px;
}

.button-group-pills .btn {
  border-radius: 30px;
  line-height: 1.2;
  margin-bottom: 15px;
  margin-left: 10px;
  border-color: #bbbbbb;
  background-color: #FFF;
  color: #151515;
  width: 178px;
  height: 52px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  text-transform: capitalize;
}

.button-group-pills .btn.active {
  border-color: #151515;
  background-color: #151515;
  color: #FFF;
  box-shadow: none;
}

.button-group-pills .btn:hover {
  border-color: #151515;
  background-color: #151515;
  color: #FFF;
}

.check_group input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

label.btn.btn-default:focus {
  box-shadow: none !important;
}

.label_check {
  font-family: 'Lora', serif;
}

.form-group input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #ededed;
  height: 85px;
}

.form-group input:focus {
  border-color: #151515;
}

::-webkit-input-placeholder, textarea::placeholder  {
  /* Edge */
  font-family: 'Lora', serif;
  text-transform: capitalize;
  color: #222;
  font-size: 12px;
  font-weight: 500;
}

:-ms-input-placeholder, textarea::placeholder {
  /* Internet Explorer 10-11 */
  font-family: 'Lora', serif;
  text-transform: capitalize;
  color: #222;
  text-transform: initial;
  font-size: 14px;
  font-weight: 500;
}

::placeholder, textarea::placeholder {
  font-family: 'Lora', serif;
  text-transform: capitalize;
  color: #222;
  font-size: 14px;
  font-weight: 500;
}

.navbar-brand img {
  width: 100%;
  height: 100%;
}

.navbar-brand {
  width: 200px;
}

.navbar-nav-link {
  font-size: 16px;
  font-weight: 500;
  padding-top: 0;
  padding-bottom: 0;
}

.menu-right a {
  background: #eaa451;
    font-size: 12px;
    padding: 10px 20px;
    color: #fff;
    border-radius: 0;
    width: 150px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.navbar {
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.05);
}

form.search-bar button {
  width: 50px;
  height: 45px;
  border: 0;
  display: flex;
  align-items: center;
  background-color: #d54e4e;
  padding: 15px;
  border-radius: 30px;
}

form.search-bar button img {
  width: 100%;
  height: 100%;
}

form.search-bar {
  border-radius: 50px 50px 50px 50px;
  background: #f6f6f6;
}

form.search-bar input {
  height: 45px;
  background: transparent;
  border: 0;
  font-size: 12px;
  padding-left: 20px;
  width: 100%;
}

form.search-bar {
  width: 590px;
  display: flex;
  justify-content: space-between;
  height: 45px;
}

form.search-bar .form-group {
  margin-bottom: 0;
  width: 100%;
}

.top-menu {
  border-bottom: 1px solid #e6e6e6;
}

.auth-group a {
  display: block;
  width: 15px;
}

.menu-icon-group img {
  width: 100%;
  height: 100%;
}

.span-line {
  display: block;
  background: #e6e6e6;
  height: 20px;
  width: 1px;
  margin: 0px 10px;
}

.top-menu-right {
  gap: 40px;
}

a.find-store {
  font-size: 13px;
  display: flex;
  align-items: center;
  font-weight: 600;
  text-decoration: underline;
  gap: 5px;
  margin-right: 20px;
}

.menu-icon-group img {
  width: 15px;
  height: 15px;
}

.contact-icon {
  width: 42px;
  height: 42px;
  background-color: #f6f6f6;
  padding: 12px;
  display: flex;
  align-items: center;
  border-radius: 100%;
  justify-content: center;
}

.menu-contact {
  width: 200px;
  gap: 10px;
}

.extra-small {
  font-size: 10px;
}

.banner-view.pos-up {
  display: flex;
  align-items: center;
}

.banner-view {
  display: flex;
  gap: 20px
}

.banner-review-top {
  gap: 25px
}

.section-banner {
  height: 100vh;
  background-image: url(../images/book-bg-1.jpg);
  background-size: 49% 100%;
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  align-items: center;
}

div#dashboard-page {
  padding-top: 0 !important;
}

.view-content h6 {
  font-size: 16px;
  font-weight: 900;
}

.banner-content a,
.btn-view {
  background: #d54e4e;
  padding: 10px 40px;
  width: fit-content;
  font-size: 15px;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  box-shadow: 5px 5px 0px #eaa451;
}

.banner-content a:hover,
.btn-view:hover {
  box-shadow: 5px 5px 0px #fff;
  color: #fff !important;
}

.grid-im {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
}

.loop-marquee_item-top {
  white-space: nowrap;
  will-change: transform;
  animation: loop-marquee_item-top 100s linear infinite;
}

.book-im-wrapper img {
  width: 85px;
  height: 112px;
  object-fit: cover;
  border-radius: 6px;
}

.book-slide,
.book-footer {
  display: flex !important;
  align-items: center;
  gap: 20px;
}

span.price-num {
  font-size: 18px;
  font-weight: 700;
}

.book-slide-content h3 {
  font-size: 20px;
}

.popular-authors .book-slide-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 75px;
}

.book-slide {
  padding: 20px;
  background: #fff;
  border-radius: 6px;
  border: 5px solid #e1e1e11a;
  box-shadow: 0px 7px 24px 0px rgba(17, 12, 46, 0.15);
}

.slick-slider {
  margin: 0 -15px;
}

.slick-slide {
  margin-right: 15px;
  margin-left: 15px;
}

.slick-list {
  padding: 50px 50px !important;
}

.rate img {
  width: 100px;
}

.banner-slider {
  padding-left: 30px;
}

.add-banner.section-spacer img {
  border-radius: 15px;
}

.heading-line {
  display: block;
  border: 1px solid #e1e1e1;
  width: 50%;
}

.section-heading {
  gap: 20px;
}

.author-im-wrapper {
  width: 100px;
  height: 100px;
  background: #fff4e3;
  border-radius: 100%;
  position: absolute;
  left: -22px;

}

.autor-block {
  gap: 20px;
  position: relative
}

.author-im-wrapper img {
  object-fit: contain;
  border-radius: 100%;
}

/* .popular-authors {
  padding: 80px 0px 150px;
  margin-top: 0px;
  background-size: cover;
} */

.autor-block {
  gap: 20px;
  padding: 20px;
  background: #fff;
  border-radius: 100px;
  box-shadow: 3px 3px 0px #faa43230;
  margin-right: 30px;
}

.authors .slick-list {
  padding: 0px 20px !important;
}
.authors .slick-slider{
  margin: 0 !important;
}
.popular-authors {
  background: url(https://wpbingosite.com/wordpress/oriobook/wp-content/uploads/2023/07/back-3.jpg);
  padding: 30px;
  border-radius: 30px;
  margin-bottom: 0;
  position: relative;
  bottom: 56px;
  margin: 0px 50px;
  background-size: contain;
}
.featured-book-section .slick-list {
  padding: 0px 0px !important;
  overflow: unset;
}

.popular-authors .slick-prev,
.popular-authors .slick-next,
.featured-book-section .slick-prev,
.featured-book-section .slick-next {
  background-color: #eaa451 !important;
  top: -69px !important;
  right: 0 !important;
  left: auto !important;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  background: #eaa451 !important;

}

.popular-authors .slick-prev:before,
.popular-authors .slick-next:before,
.featured-book-section .slick-prev:before,
.featured-book-section .slick-next:before {
  color: transparent !important;
  background-image: url(../images/arrow-right.svg);
  background-size: 15px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  opacity: 100% !important;
}

.popular-authors .slick-prev:before,
.featured-book-section .slick-prev:before {
  transform: rotate(180deg);
}

.popular-authors .slick-next,
.featured-book-section .slick-next {
  right: 60px !important;
}

.popular-authors .slick-prev,
.featured-book-section .slick-prev {
  right: 95px !important;
}

.featured-book .book-im-wrapper {
  height: 220px;
}

.featured-block-content h5, .sku_wrapper span, .sku_wrapper label {
  font-size: 16px;
  margin-bottom: 0;
}

.featured-block-content .category {
  color: #d54e4e;
  font-size: 12px;
  margin: 5px 0px;
}

.featured-block-content h6 {
  font-size: 16px;
  color: #eaa451;
}

.featured-block-content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.featured-book-block {
  padding: 30px;
  border-radius: 15px;
  gap: 30px;
}

.books-short-description {
  margin-bottom: 20px;
}

.featured-block-content img.banner-view-im {
  width: 60px;
}

.books-short-description p {
  color: #18181599;
  font-size: 13px;
}

bdi {
  font-size: 12px;
  text-decoration: line-through;
  color: #18181599;
  margin-left: 5px;
}

.trnd-add {
  height: 540px;
}

.trnd-add img {
  border-radius: 20px 20px 20px 20px;
}

.trend-block .book-im-wrapper img {
  border-radius: 10px;
}

.trend-block .book-im-wrapper {
  height: 150px;
}

.trend-block {
  padding-bottom: 15px;
  border-bottom: 1px solid #e1e1e1;
}

.trend-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.testimonial {
  background-image: url(https://demo2.pavothemes.com/bookory/wp-content/uploads/2022/02/h1-bg2.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 140px;
}

.testimonial-slide-wrap {
  border-radius: 20px 20px 0 0;
  background: #fff;
  padding: 80px;
  padding-bottom: 30px;
}

h3.testimonial-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #999999;
  padding-bottom: 20px;
  margin-bottom: 50px;
  position: relative;
  text-align: center;
  padding-bottom: 10px;
}

h3.testimonial-title:after {
  content: "";
  position: absolute;
  width: 80px;
  height: 1px;
  background-color: #d54e4e;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  right: 0;
}

.testimonial .content p {
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
}

.details {
  position: relative;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
}

.details img {
  position: absolute;
  top: -14px;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  right: 0;
}

.details span {
  position: relative;
  z-index: 9;
}

.testimonial-slide-wrap .slick-list {
  padding: 0 !important;
  padding-bottom: 20px !important;
}

.testimonial-slide-wrap .slick-dots li {
  margin: 0;
}

.slick-dots li button:before {
  display: none;
}

ul.slick-dots li {
  width: 6px;
  height: 6px;
  background: #e6e6e6;
  border-radius: 100%;
  margin: 3px !important;
}

li.slick-active {
  width: 20px !important;
  border-radius: 10px !important;
  background: #eaa451 !important;
}

.count-im-wrapper {
  width: 60px;
  height: 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.counter-block.two .count-im-wrapper,
.bg-icon-two {
  background: #e9f9fd;
}

.counter-block.one .count-im-wrapper,
.bg-icon-one {
  background: #edebfc;
}

.counter-block.three .count-im-wrapper,
.bg-icon-three {
  background: #e8f6e1;
}

.counter-block.four .count-im-wrapper,
.bg-icon-four {
  background: #fbf1e6;
}

.counter-block {
  gap: 20px;
}

.counter-detail p {
  color: #999999;
  text-transform: uppercase;
  font-size: 10px;
}

.counter-block {
  border-radius: 15px 15px 15px 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #e6e6e6;
  padding: 30px 30px;
}

.custom-footer {
  background-color: #242424;
  position: relative;
  z-index: 999;
}

.counter-detail h4 {
  font-weight: 700;
  font-size: 25px;
}

.footer-logo {
  width: 200px !important;
  height: 100px;
}

.footer-logo img {
  object-fit: contain;
}

.text-gray,
.footer-social i:before {
  color: #999999;
}

.footer-map a {
  font-size: 12px;
  font-weight: 400;
  color: #ffff;
  padding-bottom: 5px;
  border-bottom: 1px solid;
}

.footer-social i:before {
  font-size: 18px;
}

.footer-social {
  display: flex;
  gap: 20px
}

.footer-widget-title {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 20px;
  margin-top: 25px;
  margin-bottom: 30px;
}

.phone {
  font-size: 30px;
  font-weight: 600;
  text-transform: none;
  line-height: 32px;
  letter-spacing: -1px;
  color: #eaa451 !important;
}

.footer-email a {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
}

.footer-right {
  border-right: 1px solid #e1e1e12e;
  margin-right: 30px;
}

.custom-footer ul li {
  list-style: none;
}

.custom-footer ul li a {
  color: #999999;
  font-size: 14px;
}

.custom-footer ul li a:hover,
.phone:hover,
.footer-text {
  color: #eaa451 !important;
}

.footer_bottom {
  margin-top: 40px;
  padding: 30px 0px;
  border-top: 1px solid #e1e1e12e;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
}

.section-breadcrumb {
  background: url(https://wpbingosite.com/wordpress/oriobook/wp-content/uploads/2023/08/bg-breadcrumb.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 100px 0 100px;
}

.section-breadcrumb h1 {
  font-size: 45px;
}

.section-breadcrumb li {
  list-style: none;
}

.section-breadcrumb ul {
  gap: 10px;
}

.row.featured-row {
  background-color: #fff;
  border: 1px solid #e1dedc;
  border-radius: 24px;
  align-items: center;
  padding: 36px;
  display: flex;
  position: relative;
}

.featured-content h4 {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
}

.section-ab-fearures {
  margin-top: -82px;
}
.event-top-timing {
  margin-top: -50px;
}
.event-top-timing{
  position: relative;
  z-index:99;
}
.featured-im-wrapper img {
  width: 100%;
  height: 100%;
}

.featured-im-wrapper {
  width: 100px;
  height: 100px;
  padding: 27px;
  margin: 0 auto;
  border-radius: 100%;
  box-shadow: 3px 3px 0px #faa43230;
}

.row.about-grid {
  background: url(https://authore.g5plus.net/wp-content/uploads/2023/08/other-01.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #f1ede2;
  padding: 60px 0px 60px 60px;
  border-radius: 30px;
}

.about-sub-heading {
  font-weight: 600;
  letter-spacing: 6px;
}

.about-content h2 {
  font-size: 40px;
  line-height: 45px;
}

.about-content .span-line {
  background: #d54e4e;
}

.about-content .banner-review-top {
  gap: 10px;
}

.about-content .peo-im {
  width: 150px;
}

.top-slider .slick-list.draggable {
  padding: 0 !important;
}

.top-slide {
  background-size: cover;
  display: flex !important;
  align-items: center;
}

.top-slide.center {
  justify-content: center;
}

.section-banner-slide {
  height: 100vh;
}

.section-banner-slide .slick-track,
.top-slider,
.top-slider .slick-list.draggable {
  height: 100%;
}

.top-slide-content {
  width: 500px;
}

.top-slide-content h1 {
  font-weight: 400;
  padding: 10px 0px 30px 0px;
}

.btn-black {
  background-color: rgb(36, 36, 36);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 400;
  padding: 8px 40px;
  letter-spacing: 1px;
  position: relative;
}

.btn-black:hover {
  background-color: #eaa451;
  color: rgb(255, 255, 255);
}

.banner-sub-heading,
.btn-black {
  font-family: 'Jost', sans-serif !important;
}

.banner-sub-heading {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}

.shape-text {
  background-image: url(../images/shape-im.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.section-banner-slide .slick-dots {
  position: absolute;
  bottom: 80px;
  z-index: 9999 ;
}

.section-banner-slide ul.slick-dots li {
  background: #d54e4e;
}

.cta-section {
  background-image: url(https://wpbingosite.com/wordpress/oriobook/wp-content/uploads/2023/07/back-2.jpg);
  background-size: cover;

}
.author-pg-publish h2 {
  font-size: 100px;
}
.author-pg-quote-block{
  position: relative;
  margin-left: 129px;
  padding-left: 150px;
  background-color: #eae9e4;
}
.cta-section h6 {
  font-size: 40px;
  line-height: 110%;
  font-weight: 500;
}

.cta-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.category-layout-1 {
  padding: 60px;
  background: #f1ede2;
}
.category-layout-im-wrapper{
  height: 300px;
}
.category-layout-1.two {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: end;
  padding:30px;
}
.category-layout-1.two .category-layout-im-wrapper {
  height: 165px;
  width: 116px;
}
.category-layout-1.two .category-layout-im-wrapper img, .category-layout-1 img{
  object-fit: cover;
  border-radius: 10px;
}
.row.category-inner-grid {
  gap: 16px 0px;
}
.book-listing-item {
  padding: 20px;
  background: #fff;
  border-radius: 6px;
  border: 5px solid #e1e1e11a;
  box-shadow: 0px 7px 24px 0px rgba(17, 12, 46, 0.15);
}
.book-listing-item .book-im-wrapper {
  height: 250px;
  object-fit: cover;
}
.book-listing .row{
  gap:40px 0px
}
.contact-pg-item {
  display: flex;
  align-items: center;
  gap: 20px;
}
.contact-pg-left {
  background: url(https://wpbingosite.com/wordpress/oriobook/wp-content/uploads/2023/07/back-3.jpg);
  padding: 60px;
  background-size: cover;
  border-radius: 21px;
  margin-top: -80px;
}
.contact-form {
  padding: 30px;
  background: #fff;
  border-radius: 6px;
  border: 5px solid #e1e1e11a;
  box-shadow: 0px 7px 24px 0px rgba(17, 12, 46, 0.15);
}
.contact-form input {
  border: 1px solid #e1e1e1;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  font-size: 14px;
  width: 100%;
}
.form .row {
  gap: 20px 0px;
}
.faq-wrapper h4 {
  font-weight: 700;
  margin-bottom:10px;
}
.faq-wrapper {
  padding: 40px;
  background: #fff;
  margin-top: -80px;
  border-radius: 21px;
}
.faq-wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 40px 0px;
}
.book-detail-pg h4{
 font-size:45px;
  font-weight:600;
  font-family: 'Lora', serif;
}
.blog-fetail-author-detail, .book-detail-top {
  padding-bottom: 35px;
  border-bottom: 1px solid #ededed;
}
.product_meta  {
  padding-top: 40px;
}
.blog-pg-pr-detail p{
  margin-bottom:20px !important;
}
.author-bg{
  height: 100px;
  width:100px;
  
}
.author-bg img{
  border-radius:100%;
  object-fit:cover;
  object-position:center;
}
.author-name {
  font-size: 16px;
}
.book-detail-price{
  font-size:25px;
}
.qty-input {
  color: #000;
  background: #fff;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.qty-input .product-qty,
.qty-input .qty-count {
  background: transparent;
  color: inherit;
  font-weight: bold;
  font-size: inherit;
  border: none;
  display: inline-block;
  min-width: 0;
  height: 2.5rem;
  line-height: 1;
}
.qty-input .product-qty:focus,
.qty-input .qty-count:focus {
  outline: none;
}
.qty-input .product-qty {
  width: 50px;
  min-width: 0;
  display: inline-block;
  text-align: center;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
.qty-input .product-qty::-webkit-outer-spin-button, .qty-input .product-qty::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}
.qty-input .qty-count {
  padding: 0;
  cursor: pointer;
  width: 2.5rem;
  font-size: 1.25em;
  text-indent: -100px;
  overflow: hidden;
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #c4c4c461 !important;
  color: #fff;
  border-radius: 100%;
  -webkit-transition: all .3s;
  transition: all .3s;  
}
.qty-input .qty-count:before, .qty-input .qty-count:after {
  content: "";
  height: 3px;
  width: 16px;
  position: absolute;
  display: block;
  background: #000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.qty-input .qty-count--minus {
  border-right: 1px solid #e2e2e2;
}
.qty-input .qty-count--add {
  border-left: 1px solid #e2e2e2;
}
.qty-input .qty-count--add:after {
  transform: rotate(90deg);
}
.qty-input .qty-count:disabled {
  color: #ccc;
  background: #f2f2f2;
  cursor: not-allowed;
  border-color: transparent;
}
.qty-input .qty-count:disabled:before, .qty-input .qty-count:disabled:after {
  background: #ccc;
}


.qty-input {
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  border: 1px solid #ededed;
  padding: 10px 20px;
  height: 47px;
}
.book-detail-im-wrapper {
  height: 350px;
}
.book-author-im-wrapper img{
  object-fit: cover;
}
.book-author-im-wrapper:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #dbd7c9;
  top: 60px;
  left: -60px;
  z-index: -1;
}
.author-quote h5 {
  font-weight: 600;
  font-style: italic;
}
.book-detail-im-wrapper img {
  object-fit: cover;
  object-position: top;
}
.related-book-slide .featured-book-block {
  border: 1px solid #e1e1e1a8;
  padding: 20px;
}
.author-banner-bg-right{
  background-image: url(../images/author/author-page.png);
  background-repeat: no-repeat;
  background-size: cover;
    background-position: top right;
}
.author-sub-heading{
font-size:20px;
}
.author-pg-publish {
  border: 20px solid #d54e4e;
  padding: 75px 0;
  background: #fff;
  background-image: url(https://authore.g5plus.net/wp-content/uploads/2023/08/Image.png);
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 280px;
}
.author-pg-quote {
  padding-left: 54px;
  padding-right: 54px;
}
.author-pg-quote p{
  font-size: 32px;
  font-weight: 400;
  font-style: italic;
  line-height: 1.22em;
  font-family: 'Lora', serif;
}
p.author-card-text {
  font-size: 18px;
  font-weight: 600;
}
.author-top-banner-detail h1{
  font-size: 75px;
  font-weight: 500;
  text-transform: uppercase;
}
.author-top-banner-detail p {
  font-size: 18px;
}
.author-top-banner-detail .author-social {
  background: #f4fbf2;
  width: 410px;
  height: 60px;
  padding-left: 30px;
  border-radius: 30px;
}
.author-top-banner-detail .author-social p {
  font-size: 14px;
}
.author-top-banner-detail   .author-social-group i {
  background: #d54e4e;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.author-social-group i:before{
  color: #fff;
}
.author-abt-counter-content h6{
  font-size: 48px;
  font-weight: 700;
  font-family: 'Lora', serif;
  color: #d54e4e;
  letter-spacing: -.48px;
}
.author-abt-counter-content p{
  font-size: 12px;
    font-weight: 500;
    color:#2c2c2c;
    letter-spacing: 3.12px;
    text-transform: uppercase;
}
.author-abt-im-wrapper{
  background-image:url(https://authore.g5plus.net/wp-content/uploads/2023/08/underlay-01.png);
  background-repeat: no-repeat;
  background-position:center;
}
.author-related-books {
  background-image: url(https://wpbingosite.com/wordpress/oriobook/wp-content/uploads/2023/07/back-2.jpg);
  background-size: cover;
  padding: 40px;
  background-position: bottom right;
}
.author-related-books .featured-book-block{
  padding: 20px;
  border-radius: 15px;
  gap: 20px;
  background: #fff;
}
.author-related-books .slick-list.draggable {
  overflow: hidden;
}
.footer-email a {
  text-transform: lowercase;
}
.event-col {
  height: 500px;
  overflow: hidden;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.event-col-im-wrapper, .event-col-im-wrapper img {
  height: 100%;
  object-fit: cover;
}
.event-col-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.event-col-top-content {
  background-color: #e8e6b5;
  padding: 20px 0px;
  gap: 20px;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
  transform: translateX(-0%);
}
.event-col-entry-title {
  background-image: url(https://www.divinepaths.org/images/pattern-grudge.png);
  padding: 30px;
  background-color: #fff;
  position: relative;
}
.event-date {
  background-image: linear-gradient(#82b440, #4c6e1e);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: url(https://www.divinepaths.org/images/pattern-grudge.png);
  background-color: #fff;
}
.event-col:hover .event-col-top-content {
  transform: translateX(-150%);
}
.event-col-entry-title:after {
  content: "";
  position: absolute;
  width: 100%;
  background-color: #f4fbf2;
  height: 100%;
  top: 0;
  background-image: url(../images/pattern-grudge.png);
  left: 0;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
  transform: translateX(-150%);
}
.event-col:hover .event-col-entry-title:after {
  transform: translateX(-0%);
}
.event-col-entry-title h3 {
  z-index: 9;
  font-size: 20px;
  position: relative;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}
.event-col:hover .event-col-entry-title h3 {
  -webkit-transform: translateX(13%);
  -moz-transform: translateX(13%);
  -ms-transform: translateX(13%);
  -o-transform: translateX(13%);
  transform: translateX(13%);
}
.event-date-v2 {
  font-size: 18px;
  font-family: 'Lora', serif;
  font-weight: 600;
}
a.event-col {
  border: 1px solid #e6e6e6;
}
.event-top-content{
  position: relative;
  z-index:99;
}
.event-top-banner:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000b8;
  top: 0;
  left: 0;
}
.event-top-timing-block h4{
  font-family: 'Lora', serif;
}
.event-top-timing-block h6{
  font-family: 'Jost', sans-serif;
  letter-spacing:1px;
  font-size: 20px;
}
.event-top-timing {
  background-image: url(https://wpbingosite.com/wordpress/oriobook/wp-content/uploads/2023/07/back-3.jpg);
  background-size: cover;
  padding: 60px 0px;
  border-radius: 24px;
}
.event-top-banner {
  padding: 150px 0px;
}
/*=================================== media query css ===================================*/


@media only screen and (min-width: 300px) and (max-width: 767px) {

  button.navbar-toggler.collapsed i:before {
    content: "\f0c9";
  }

  button.navbar-toggler i:before {
    content: "\f00d";
  }

  button.navbar-toggler i:before {
    font-size: 20px;
  }

  button.navbar-toggler i {
    position: absolute;
    top: 25px;
    right: 18px;
  }

  i.fa.fa-times {
    display: none;
  }

  .float-right {
    float: none !important;
  }

  ul.main-menu a {
    justify-content: center;
    width: 100%;
    margin: 0 !important;
    padding: 15px 0px !important;
  }

  .navbar-collapse {
    text-align: center;
  }

  .main-menuright {
    margin-top: 20px;
    margin-bottom: 30px;
  }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {}

@media only screen and (min-width: 991px) and (max-width: 1024px) {}